/* styles.css */

.custom-button {
    margin-left: 350px;
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: rgb(34, 59, 34);
    color: rgb(127, 15, 15);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* 2nd pic and data*/

